<h3 id="title" translate>home.title</h3>
<button class="btn btnLanguage" (click)="switchLanguage('fr')"
    [ngClass]="{activeLanguage: getLanguage() === 'fr', inactiveLanguage: getLanguage() !== 'fr'}">FR
</button>
<img [src]="imageBlobUrl" class="rounded-circle img-fluid" alt="Profile photo" id="avatar"
    *ngIf="authProviderService.isAuthenticated()">

<div style="float: right; margin-right: 5%;">
    <a class="nav-link" routerLink="/steporder" routerLinkActive="active" role="tab" *ngIf="authProviderService.isAuthenticated() && !isAdmin">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        Payer
    </a>
</div>
