<h4 style="text-align: center;">Menu</h4>

<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <a class="nav-link" routerLink="/home" routerLinkActive="active" role="tab">
    Accueil
  </a>
  <a class="nav-link" routerLink="/product" routerLinkActive="active" role="tab">
    Produits
  </a>
  <a class="nav-link" routerLink="/register" routerLinkActive="active" role="tab"
    *ngIf="(!authProviderService.isAuthenticated() || isAdmin)">
    Inscription
  </a>
  <a class="nav-link" routerLink="/auth" routerLinkActive="active" role="tab"
    *ngIf="!authProviderService.isAuthenticated()">
    Connexion
  </a>
  <a class="nav-link" routerLink="#" routerLinkActive="active" role="tab" (click)="logout()"
    *ngIf="authProviderService.isAuthenticated()">
    Deconnexion
  </a>
</div>