/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btnLanguage {
    padding: 10px;
    margin-left: 2px;
    color: black;
    background: antiquewhite;
    line-height: 35px;
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 50px;
}

.activeLanguage {
    color: white !important;
    background-color: #bdbdbd !important;
}

.inactiveLanguage {
    color: white !important;
    background-color: #4285F4 !important;
}

.inactiveLanguage:hover {
    color: white !important;
    background-color: #0d47a1 !important;
}

.dialogSuccess {
    width: 97%;
}

.dialogRedirection {
    width: 97%;
}

#title {
    text-align:center;
    margin: 20px;
}

#avatar {
    width: 80px;
    height: 80px;
    margin-left: 40px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("assets/font-face/MaterialIcons-Regular.eot");
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('assets/font-face/MaterialIcons-Regular.woff2') format('woff2'),
         url('assets/font-face/MaterialIcons-Regular.woff') format('woff'),
         url('assets/font-face/MaterialIcons-Regular.ttf') format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .filter-option > .mat-pseudo-checkbox {
    display: none !important;
  }

  .filter-sidenav .mat-list-item-content {
    padding: 0 10px !important;
    font-size: 0.875rem !important;
  }

  .filter-sidenav .mat-select-trigger {
    font-size: 1rem !important;
  }
