/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btnLanguage {
    padding: 10px;
    margin-left: 2px;
    color: black;
    background: antiquewhite;
    line-height: 35px;
    font-family: "Source Sans Pro", sans-serif;
}

.activeLanguage {
    color: white !important;
    background-color: #bdbdbd !important;
}

.inactiveLanguage {
    color: white !important;
    background-color: #4285F4 !important;
}

.inactiveLanguage:hover {
    color: white !important;
    background-color: #0d47a1 !important;
}

.dialogSuccess {
    width: 97%;
}
