<div *ngIf="!isAuthenticated">
  <app-auth></app-auth>
</div>
<button mat-raised-button (click)="isEditable = !isEditable" *ngIf="isAuthenticated">
  {{!isEditable ? 'Activer le mode édition' : 'Désactiver le mode édition'}}
</button>

<mat-horizontal-stepper linear #stepper *ngIf="isAuthenticated">
  <!-- Menus-->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <div *ngIf="isAuthenticated">
        <ng-template matStepLabel>Menus</ng-template>
        <div>
          <h4>Les menus</h4>
          <br>
          <!-- Messages -->
          <div class="alert alert-success" role="alert" *ngIf="successMessage != null">
            {{successMessage}}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
            {{errorMessage}}
          </div>
          <table class="table table-striped" *ngIf="!see">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let menu of menus">
                <td>{{menu.name}}</td>
                <td>{{menu.price | number : '1.2-2'}} €</td>
                <td>
                  <button class="btn btn-danger" (click)="seeMenu(menu)"> Choisir ce menu </button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example" *ngIf="menus != null && !see">
            <ul class="pagination justify-content-end">
              <div style="width: 100%; margin-top: 8px;">
                Nombre total de menu : {{totalElements}}
              </div>

              <div style="display: inherit;" *ngIf="totalElements > 4">
                <li class="page-item" [ngClass]="{'disabled' : selectedPage == 0}">
                  <button class="page-link" (click)="findAll(selectedPage-1)">Précédent</button>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : selectedPage == page-1}" *ngFor="let page of pages">
                  <button class="page-link" (click)="findAll(page-1)">{{page}}</button>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : selectedPage == pages[pages.length-1]-1}">
                  <button class="page-link" (click)="findAll(selectedPage+1)">Suivant</button>
                </li>
              </div>

            </ul>
          </nav>

          <div *ngIf="see">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Prix</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.price | number : '1.2-2'}} €</td>
                  <td>
                    <input type="radio" value="{{product.id}}" formControlName="firstCtrl" required>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <button class="btn btn-danger" mat-button (click)="validateProduct(stepper)">Valider la sélection du
                produit</button>
              <br /><br />
            </div>

          </div>

          <div>
            <button class="btn btn-danger" (click)="return()" *ngIf="see"> Retour </button>
          </div>
        </div>
        <div>
        </div>
      </div>

    </form>
  </mat-step>
  <!-- Desserts -->
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Desserts</ng-template>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Prix</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | number : '1.2-2'}} €</td>
            <td>
              <mat-checkbox value="{{product.id}}" [(ngModel)]="product.isSelected"
              formControlName="secondCtrl" (change)="getCheckboxes()"></mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example" *ngIf="products != null">
        <ul class="pagination justify-content-end">
            <div style="width: 100%; margin-top: 8px;">
                Nombre total de produits : {{totalElements}}
            </div>

            <div style="display: inherit;" *ngIf="totalElements > 4">
                <li class="page-item" [ngClass]="{'disabled' : selectedPage2 == 0}">
                    <button class="page-link" (click)="findAllProductsByCategoryName(stepper, false, selectedPage2 - 1)">Précédent</button>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : selectedPage2 == page2-1}" *ngFor="let page2 of pages2">
                    <button class="page-link" (click)="findAllProductsByCategoryName(stepper, false, page2-1)">{{page2}}</button>
                </li>
                <li class="page-item" [ngClass]="{'disabled' : selectedPage2 == pages2[pages2.length-1]-1}">
                    <button class="page-link" (click)="findAllProductsByCategoryName(stepper, false, selectedPage2 + 1)">Suivant</button>
                </li>
            </div>

        </ul>
    </nav>

      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext (click)="takeDessert()">Suivant</button>
      </div>
    </form>
  </mat-step>
  <!-- Paiement -->
  <mat-step>
    <ng-template matStepLabel>Paiement</ng-template>

    <button class="btn btn-danger" (click)="createPayment()">Payer avec PayPal</button>
    <br /><br />
    <div>
      <button class="btn btn-danger" mat-button matStepperPrevious>Précédent</button>
      <br /><br />
      <button class="btn btn-danger" mat-button
        (click)="firstFormGroup.reset();stepper.reset();this.see = false;">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>